body {
	margin: 50px 20px;
	padding-bottom: 30px;
	font-family: 'Raleway';
	text-align: center;
}

h1 {
	letter-spacing: 6px;
	text-transform: uppercase;
	color: #383a4f;
}

h4 {
	padding: 0 0 20px 0;
}

#heading {
	padding: 50px 0 0 0;
}

.blink {
	opacity: 0;
}

@-webkit-keyframes slide {
	0%{
		-webkit-transform: translateY(0px);
		        transform: translateY(0px);
		opacity: 0;
	}
	50%{
		-webkit-transform: translateY(0px);
		        transform: translateY(0px);
		opacity: 0;
	}
	100%{
		-webkit-transform: translateY(-55px);
		        transform: translateY(-55px);
		opacity: 1;
	}
}

@keyframes slide {
	0%{
		-webkit-transform: translateY(0px);
		        transform: translateY(0px);
		opacity: 0;
	}
	50%{
		-webkit-transform: translateY(0px);
		        transform: translateY(0px);
		opacity: 0;
	}
	100%{
		-webkit-transform: translateY(-55px);
		        transform: translateY(-55px);
		opacity: 1;
	}
}

#myPhoto {
	margin: 20px auto;
  	margin-top: 100px;
	height: 275px;
	width: 275px;
	border-radius: 50%;
	-webkit-filter: drop-shadow(5px 5px 0.3rem rgba(0, 0, 0, 0.3));
	        filter: drop-shadow(5px 5px 0.3rem rgba(0, 0, 0, 0.3));
	-webkit-animation: 2.4s ease 1 forwards slide;
	        animation: 2.4s ease 1 forwards slide;
}

#about {
	padding: 10px 150px;
	-webkit-animation: 2.7s ease 1 forwards slide;
	        animation: 2.7s ease 1 forwards slide;
}

#bio {
	text-align: justify-all;
	font-size: 20px;
}

#intro {
	padding-bottom: 25px;
	font-size: 20px;
	color: #383a4f;
}

#description {
	font-size: 15px;
	color: #6b728c;
	width: 75%;
	margin: 0 auto;
}

#banner {
	width: 100%;
	margin-bottom: 0;
}

#projects {
	background-color: #3f4159;
	color: white;
	padding: 40px auto;
}

#projHead {
	padding-top: 40px;
}

#projHead, #techHead {
	text-transform: uppercase;
	letter-spacing: 6px;
	font-size: 26px;
	padding-bottom: 15px;
}

.container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.thumb {
	margin: 25px;
	position: relative;
	float: left;
}

.thumb:hover .projectPic {
  	opacity: 0.3;
  	-webkit-transform: scale(1.1);
  	    -ms-transform: scale(1.1);
  	        transform: scale(1.1);
}

.thumb:hover .middle {
  	opacity: 1;
  	-webkit-transform: translate(-50%, -50%) scale(1);
  	    -ms-transform: translate(-50%, -50%) scale(1);
  	        transform: translate(-50%, -50%) scale(1);
}

.projectPic {
	margin: 0px auto;
	border-radius: 5%;
	position: relative;
    width:  280px;
	height: 225px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.18);
            box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.18);
    opacity: 1;
	display: block;
	-webkit-transition: .5s ease;
	-o-transition: .5s ease;
	transition: .5s ease;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
}

.middle {
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transition: .5s ease;
	-o-transition: .5s ease;
	transition: .5s ease;
	-webkit-transform: translate(-50%, -50%) scale(0);
	    -ms-transform: translate(-50%, -50%) scale(0);
	        transform: translate(-50%, -50%) scale(0);
}

.text {
  	background-color: white;
  	color: #383a4f;
  	font-size: 16px;
  	padding: 16px 32px;
  	border-radius: 10px;
}

#techHead {
	font-size: 28px;
	padding-bottom: 20px;
	color: #383a4f;
}

#tech {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}

#logo {
	width: 200px;
	margin: 15px;
}

#cssLogo, #wplogo{
	width: 145px;
}

#jsLogo {
	width: 223px;
}

#contactHead {
	text-transform: uppercase;
	letter-spacing: 6px;
	font-size: 20px;
	padding-bottom: 10px
}

#contact {
	color: #383a4f;
	font-size: 28px;
	letter-spacing: 5px;
	margin: 20px auto 30px auto;
}

.zoom {
	-webkit-transition: -webkit-transform .4s;
	transition: -webkit-transform .4s;
	-o-transition: transform .4s;
	transition: transform .4s;
	transition: transform .4s, -webkit-transform .4s;
	-webkit-transition-timing-function: cubic-bezier(0.665, 0.195, 0.260, 2.2);
	     -o-transition-timing-function: cubic-bezier(0.665, 0.195, 0.260, 2.2);
	        transition-timing-function: cubic-bezier(0.665, 0.195, 0.260, 2.2);
}

.zoom:hover {
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
}

.fab, a[href^="mailto:"] {
	color: #3f4159;
}

#credits {
	font-size: 10px;
	color: #919191;
	margin: 0;
}